body {
    margin: 0;
    padding: 0rem;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    font-family: helvetica !important;
}

.routerDiv{
    display: flex;
    flex-direction: row;
    background: #34495e;
    float: left;
    width: 20%;
    height: 100%;
}

.contentDiv{
    width: 80%;
    height: 100%;
    background: whitesmoke;
    float: right;
}

