.addUserComponent{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}